<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Refractored.MvvmHelpers" version="1.0.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" requireReinstallation="true" />
  <package id="WindowsAzure.MobileServices" version="2.0.0-beta" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" requireReinstallation="true" />
  <package id="WindowsAzure.MobileServices.SQLiteStore" version="2.0.0-beta" targetFramework="portable-monoandroid1+monotouch1+net45+win+wp8+xamarinios1+xamarinmac2" requireReinstallation="true" />
  <package id="Xam.Plugin.Connectivity" version="2.0.2" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.EmbeddedResource" version="1.0.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugin.ExternalMaps" version="3.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.4.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugins.Messaging" version="3.0.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xam.Plugins.Settings" version="2.1.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.0.1.6505" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms.Maps" version="2.0.1.6505" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Insights" version="1.11.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>